#chateaus-hero img {
  margin: auto;
}

#chateaus-hero h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #c54242;
}

#chateaus-hero p {
  font-size: 13px;
}

#chateaus-feature {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  justify-content: space-around;
  margin: 30px 0;
  border-top: 1px solid #c54242;
  border-bottom: 1px solid #c54242;
  padding: 10px 0;
}
#chateaus-feature div {
  width: 120.66px;
  text-align: center;
  border-right: 1px solid #c54242;
}

#chateaus-feature div:last-child {
  border: 0;
}

#chateaus-feature p {
  font-size: 11px;
}

#book-now {
  height: 50px;
}

#equipments h3 {
  margin-top: 50px;
  padding-left: 5px;
  border-left: 3px solid #9a2018;
}

#equipments {
  background-color: #efefef;
  margin: 40px 0;
}

#equipments h3 {
  margin-top: 15px;
  margin-left: 10px;
}

.equipments-list ul {
  margin-top: 10px;
  padding-left: 15px;
  margin-bottom: 0;
}

.hidden-equipments-list ul {
  padding-left: 15px;
  margin-top: 0;
}

.equipments-list ul li,
.hidden-equipments-list ul li {
  margin: 10px;
}

#equipments details summary {
  text-align: center;
  color: #c54242;
  padding-bottom: 15px;
  font-size: 13px;
  letter-spacing: 1px;
  list-style-type: none;
  cursor: pointer;
}

#equipments details[open] summary {
  visibility: hidden;
  display: none;
  padding-bottom: 0;
}

#gallary {
  display: flex;
  justify-content: center;
}

#arrow {
  display: flex;
  justify-content: end;
  margin: 10px 20px;
}

#arrow div {
  margin: 0 10px;
  color: #9a2018;
  border: 1px solid #9a2018;
  border-radius: 500px;
  padding: 4px 7px;
}
