#main-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 100px;
}

#logo {
  display: flex;
  width: 300px;
  margin-top: 20px;
}

#desk_main-nav ul {
  list-style-type: none;
  display: flex;
  padding: 0 0 0 25px;
  border-left: 3px solid #626262;
}

#desk_main-nav ul li {
  margin: 15px;
}

#desk_main-nav ul li a {
  color: #626262;
}

.book-now p {
  padding: 0 50px;
  text-align: center;
}

#desk_book-now-hero {
  height: 100px;
}
