#main-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 300px;
  z-index: 1;
}

#desk_main-nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

#desk_main-nav ul li {
  margin: 15px;
}

#desk_main-nav ul li a {
  text-align: center;
  color: #626262;
}

#book-now